.Menu{
    position:absolute;
    height :25em;
    width : 33em;
    background-color: #217b92;
    left:31em;
    top:12em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  
  
  
  }
  .slot1{
    position: absolute;
    height: 2.5em;
    width: 27em;
    top:5em;
    left: 1em;
    right:0.5em;
    
    background-color: antiquewhite;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  
  
  }
  
  .slot2{
    position: absolute;
    height: 2.5em;
    width: 27em;
    left: 1em;
    right:0.5em;
    top:9em;
    background-color: antiquewhite;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  
  
  }
  .slot3{
    position: absolute;
    height: 2.5em;
    width: 27em;
    left: 1em;
    right:0.5em;
    top:13em;
    background-color: antiquewhite;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  
  
  }
  .slot4{
    position: absolute;
    height: 2.5em;
    width: 27em;
    left: 1em;
    right:0.5em;
    top:17em;
    background-color: antiquewhite;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  
  
  }
  .slot5{
    position: absolute;
    height: 2.5em;
    width: 27em;
    left: 1em;
    right:0.5em;
    top:21em;
    background-color: antiquewhite;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  
  
  }
  
  
  #text1{
  position:absolute;
  top:0.5em;
  left: 1em;
  }
  #text2{
    position:absolute;
    left: 4em;
    top:0.2em;
  }
  #button1{
    position:absolute;
    left: 29em;
    top:5em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
  
  
  }
  #button2{
    position:absolute;
    left: 29em;
    top:9em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
  
  
  }
  #button3{
    position:absolute;
    left: 29em;
    top:13em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
  
  
  }
  #button4{
    position:absolute;
    left: 29em;
    top:17em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
  
  
  }
  #button5{
    position:absolute;
    left: 29em;
    top:21em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
  
  
  }
  #button6{
    position:absolute;
    left: 25em;
    top:27em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
  
  
  }
  #text3{
    position:absolute;
    left: 4em;
    top:18em;
  }